<!-- HERO SECTION -->
<section class="hero">
    <h1>Noor Fashion & Mehndi</h1>
    <p>Where Fashion Meets Tradition</p>
</section>

<!-- ABOUT SECTION -->
<section class="about">
    <h2>About Us</h2>
    <p>
        Noor Fashion & Mehndi offers elegant ladies stitching and beautiful mehndi designs.
        From bridal wear to festive outfits and professional mehndi for weddings, functions and festivals – we create perfection with love.
    </p>

    <p>
        If you like any dress design from anywhere, just take a screenshot and send it to us on WhatsApp.
        We will stitch the same design for you with perfect fitting and finishing.
    </p>

    <p>
        We also provide custom stitching according to your choice and size.</br>
        <strong>Note:</strong> If you wish, we also provide fabric along with stitching.
        You can choose only stitching service or fabric + stitching both as per your need.
    </p>

</section>

<!-- SERVICES -->
<section class="services">
    <h2>Our Services</h2>

    <div class="service-cards">
        <div class="card">👗 Ladies Stitching</div>
        <div class="card">👰 Bridal Wear</div>
        <div class="card">🎉 Festival Dresses</div>
        <div class="card">✋ Bridal Mehndi</div>
        <div class="card">🌸 Function Mehndi</div>
        <div class="card">🎊 Festival Mehndi</div>
    </div>
</section>

<!-- CONTACT -->
<section class="contact">
    <h2>Contact Us</h2>
    <a class="call-btn"
     href="tel:+919548553141">
        📞 Call Now
    </a>
    <a class="whatsapp-btn"
       href="https://wa.me/919548553141"
       target="_blank">
        💬 Book on WhatsApp
    </a>
    <a class="email-btn"
       href="mailto:noorfashion@gmail.com?subject=Stitching%20and%20Mehndi%20Inquiry">
        📧 Email Us
    </a>
</section>